html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/* 
body {
  position: fixed;
  height: 100%;
  width: 100%;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* field require character */
.MuiFormLabel-asterisk {
  color: red;
}
